<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data noupdate="0">

    <menuitem id="wk_buyer_dashboard"
              name="Buyer Dashboard"
              groups="kolonies_base.marketplace_buyer_group"
              web_icon="kolonies_marketplace,static/description/icon.png"
              sequence="10"/>

    <record id="odoo_marketplace.wk_seller_website_menu" model="ir.ui.menu">
      <field name="groups_id" eval="[(4, ref('kolonies_base.marketplace_buyer_group'))]"/>
    </record>


  </data>
</odoo>